{% extends "base.html" %}
{% block title %}YaCut - укоротитель ссылок{% endblock title %}

{% block content %}
      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <form method="POST" novalidate>
              {{ form.csrf_token }}
              <div>
                <div>
                  {{ form.original_link(class="form-control form-control-lg py-2 mb-3",
                  placeholder=form.original_link.label.text, id="form-title")}}
                  <p>
                    {% if form.original_link.errors %}
                      {% for error in form.original_link.errors %}
                        <span style="color:red">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </p>
                </div>
                <div>
                  {{ form.custom_id(class="form-control form-control-lg py-2 mb-3",
                  placeholder=form.custom_id.label.text, id="form-link")}}
                  <p>
                    {% if form.custom_id.errors %}
                      {% for error in form.custom_id.errors %}
                        <span style="color:red">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </p>
                </div>
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
            <p class="py-3 mb-3">
              {% for message in get_flashed_messages() %}
                <span style="color:red">{{ message }}</span>
              {% endfor %}
            </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
      {% if url_map %}
        <div class="container">
          <div class="row ">
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <p class="text-center">
                <h5 class="text-center">Ваша новая ссылка готова</h5>
              </p>
              <p class="text-center">
                <a href="{{ url_for('short_id_view', custom_id=url_map.short, _external=True) }}" class="text-center">
                  <b>{{ url_for('short_id_view', custom_id=url_map.short, _external=True) }}</b>
                </a>
              </p>
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      {% endif %}
{% endblock content %}